/* Adicione sua estilização básica de menu primeiro */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilo para a página atual */
nav li.ativo a {
    background-color: #04AA6D; /* Cor de destaque */
    color: white;
}

nav li a:hover:not(.ativo a) {
    background-color: #111;
}
